label {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1rem;
}
.form-control {
	height: 40px;	
}
textarea.form-control {
	height: auto;
}

.form-control:focus, #register-form form fieldset input[type='text']:focus, #register-form form fieldset input[type='email']:focus, #register-form form fieldset select:focus, #register-form form fieldset textarea:focus {
    border-color: #5cb85c;
    border-size: 3px;
    outline: none;
}